/* CSS Update
NguyenLamBlog */

/* Download Counter Box */
#btnx{cursor:pointer;padding:10px 20px;border:0;border-radius:3px;background:#fff;color:#0090b8;float:right;text-transform:capitalize;font-weight:500;transition:all 0.5s}#btnx:hover,#downloadx:hover{background:#000000;color:#fff;outline:none}.batas-downx{display:block;margin:0 auto;border-radius:4px}.dalam-downx{background:linear-gradient(to bottom right, DarkCyan, MediumSpringGreen);color:#fff;padding:20px;display:block;border-top-right-radius:3px;border-top-left-radius:3px}.file-info{color:#fff;display:inline-block;font-size:1.2em;line-height:38px;text-align:left}.catatan-downx{padding:20px;background:#f7f7f7;border-bottom-right-radius:3px;border-bottom-left-radius:3px;color:#555;font-size:14px}#downloadx{float:right}#downloadx{padding:10px 20px;border-radius:3px;background:#fff;color:#e67e22;float:right;text-align:center;font-size:14px;text-transform:capitalize}.bungkus-info span{display:inline-block;line-height:38px;float:right}.file-deskripsi{display:block}.file-deskripsi span{margin-right:3px}


@media screen and (max-width:640px){.batas-downx{float:none;width:100%}}
@media screen and (max-width:320px){.file-info{display:block;text-align:center}#btnx, a#downloadx{width:100%;margin-bottom:10px}.bungkus-info span{float:none;width:100%;text-align:center}.file-deskripsi{text-align:center}}

/* Button Demo */
.demo{padding:12px 100px!important;color:#fff!important;font-weight:700;font-size:14px;font-family:Open Sans,sans-serif;text-align:center;text-transform:uppercase;border-radius:3px;opacity:.95;border:0;letter-spacing:2px;transition:all .2s ease-out} .demo {background-image: linear-gradient(-90deg, blue, red);} .demo:hover {background-image: linear-gradient(to bottom right, Crimson, SkyBlue);} .demo:before {content:&#39;\f135&#39;;display:inline-block;font-weight:normal;vertical-align:top;margin-right:10px;width:16px;height:16px;line-height:24px;font-family:fontawesome;transition:all 0.5s ease-out;}

/* HTML */
pre::after{content:'Double click to selection';padding:2px 5px;width:auto;height:auto;font-family:monospace;position:absolute;right:8px;top:8px;color:#FFFFFF;background-color:none;transition:all 0.3s ease-in-out}
pre:hover::after{opacity:0;top:-8px;visibility:visible}

/* Comments */

/* Trang */
ul.pageURL {clear: both;position: relative;display: inline-block;}
ul.pageURL li{float: left;margin-right: 10px;}
ul.pageURL li a{position: relative;padding: 8px 10px;border-radius: 4px;font-size: 11px;font-family: Nunito Sans, sans-serif;font-weight: 700;color: #626262!important;display: block;margin-bottom: 11px;clear: both;}

.GoogleNew a {display:flex;align-items:center;flex-direction:row;position:relative;padding:12px 15px;border:1px solid #ebeced;border-radius:3px;background:transparent;overflow:hidden}
.GoogleNew a:after{content:'';display:block;position:absolute;bottom:0;right:0;width:70px;height:65px;background:rgba(0,0,0,.025);border-radius:70px 0 5px 0;}
.GoogleNew a .news-image{flex:0 0 auto;width:50px;height:50px;border-radius:50%;overflow:hidden;border: 2px solid #556ee6;padding: .25rem;}
.GoogleNew a .news-image img {background: #fff; padding: .19rem}
.GoogleNew a .news-name{flex-grow:1;margin:0 auto 0 15px;font-family:Google Sans, sans-serif;color:#161617;font-weight: 600}
.GoogleNew a .news-name:after{content:'LIVE 10 followers';display:block;margin-top:5px;color:#137333;font-size:11px;font-family:Google Sans, sans-serif}
.icon.follow svg:hover{fill: #fff;stroke: #fff}
.dark-mode .GoogleNew a .news-name, .dark-mode .profile-data{color: #fff}
/* tile */
h1 {
    line-height: 42px;
    font-size: 30px;
    text-align: left;
    background: linear-gradient(179deg, #00004d 0%, #5333ed 49%, #2cd4d9 100%);
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 10s BeProud linear infinite;}
@keyframes BeProud {100% { background-position: 100vw 0px }}
@keyframes scroll{10%{margin-top:0}30%{margin-top:0}40%{margin-top:-40px}60%{margin-top:-40px}70%{margin-top:-80px}90%{margin-top:-80px}100%{margin-top:0}}
